#m-condition-section {
	margin: 10px 0 0 10px;
}

#m-condition-section table {
	width: 100%;
	line-height: 25px;
}

#m-results-section {
	margin-top: 40px;
}

#m-results-section table {
	border-collapse: collapse;
	width: 100%;
}

#m-results-section tr {
	height: 20px;
}

#m-results-section tr:hover {
	background-color: #f29149;
}

#m-results-section td,#m-results-section th {
	border: 1px solid #ccc;
	text-align: center;
}

#m-results-section th {
	cursor: pointer;
}

#delete-entries,#promote-entries {
	min-height: 135px;
	min-width: 380px;
}

#deactive-entries {
	min-height: 175px;
	min-width: 380px;
}

.min-width-35 {
	min-width: 35px;
}