<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.0.3.xsd">
	<global-method-security pre-post-annotations="enabled" />

	<http entry-point-ref="authenticationProcessingFilterEntryPoint"
		use-expressions="true">
		<custom-filter position="CONCURRENT_SESSION_FILTER" ref="concurrencyFilter" />
		<custom-filter ref="usernamePasswordAuthenticationFilter"
			position="FORM_LOGIN_FILTER" />
		<remember-me services-ref="persistentTokenBasedRememberMeServices" />
		<session-management
			session-authentication-strategy-ref="sessionAuthenticationStrategy" />
		<anonymous />
		<logout logout-url="/imaqu_security_logout"
			success-handler-ref="urlLogoutCookieDeletedSuccessHandler" />
		<intercept-url pattern="/include/functions/u/**" access="isAuthenticated()" />
		<intercept-url pattern="/include/functions/m/**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/m/**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/*/input_*" access="isAuthenticated()" />
		<intercept-url pattern="/*/save_*" access="isAuthenticated()" />
		<intercept-url pattern="/**" access="permitAll" />
	</http>

	<authentication-manager alias="authenticationManager">
		<authentication-provider ref="authenticationProvider" />
	</authentication-manager>

	<beans:bean id="persistentTokenBasedRememberMeServices"
		class="org.springframework.security.web.authentication.rememberme.PersistentTokenBasedRememberMeServices">
		<beans:property name="parameter" value="imaqu_security_remember_me" />
		<beans:property name="key" value="imaqu_key" />
		<beans:property name="cookieName"
			value="imaqu_security_remember_me_cookie" />
		<beans:property name="userDetailsService" ref="imaquUserDetailsService" />
		<beans:property name="tokenRepository">
			<beans:bean
				class="org.springframework.security.web.authentication.rememberme.JdbcTokenRepositoryImpl">
				<beans:property name="dataSource" ref="dataSource" />
			</beans:bean>
		</beans:property>
	</beans:bean>

	<beans:bean id="usernamePasswordAuthenticationFilter"
		class="net.ityin.imaqu.util.spring.CaptchaUsernamePasswordAuthenticationFilter">
		<beans:property name="usernameParameter" value="username" />
		<beans:property name="passwordParameter" value="password" />
		<beans:property name="filterProcessesUrl" value="/imaqu_security_check" />
		<beans:property name="authenticationManager" ref="authenticationManager" />
		<beans:property name="rememberMeServices"
			ref="persistentTokenBasedRememberMeServices" />
		<beans:property name="sessionAuthenticationStrategy"
			ref="sessionAuthenticationStrategy" />
		<beans:property name="authenticationSuccessHandler"
			ref="savedRequestAuthenticationSuccessHandler" />
		<beans:property name="authenticationFailureHandler">
			<beans:bean
				class="net.ityin.imaqu.util.spring.UrlAuthenticationFailureHandler">
				<beans:property name="failureUrl" value="/u/login.shtml" />
			</beans:bean>
		</beans:property>
	</beans:bean>
	<beans:bean id="authenticationProcessingFilterEntryPoint"
		class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
		<beans:property name="loginFormUrl" value="/u/login.shtml" />
	</beans:bean>

	<beans:bean id="authenticationProvider"
		class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
		<beans:property name="hideUserNotFoundExceptions"
			value="false" />
		<beans:property name="userDetailsService" ref="imaquUserDetailsService" />
		<beans:property name="passwordEncoder" ref="md5PasswordEncoder">
		</beans:property>
		<beans:property name="saltSource">
			<beans:bean
				class="org.springframework.security.authentication.dao.ReflectionSaltSource">
				<beans:property name="userPropertyToUse" value="username" />
			</beans:bean>
		</beans:property>
	</beans:bean>

	<beans:bean id="savedRequestAuthenticationSuccessHandler"
		class="net.ityin.imaqu.util.spring.SavedRequestAuthenticationSuccessHandler">
		<beans:property name="defaultTargetUrl" value="/w/index.shtml" />
		<beans:property name="targetUrlParameter" value="imaqu_redirect" />
	</beans:bean>
	<beans:bean id="urlLogoutCookieDeletedSuccessHandler"
		class="net.ityin.imaqu.util.spring.UrlLogoutCookieDeletedSuccessHandler">
		<beans:property name="deletedCookies" value="JSESSIONID" />
		<beans:property name="targetUrlParameter" value="imaqu_redirect" />
	</beans:bean>
	<beans:bean id="md5PasswordEncoder"
		class="org.springframework.security.authentication.encoding.Md5PasswordEncoder" />

	<beans:bean id="sessionRegistry"
		class="org.springframework.security.core.session.SessionRegistryImpl"></beans:bean>
	<beans:bean id="sessionAuthenticationStrategy"
		class="org.springframework.security.web.authentication.session.ConcurrentSessionControlStrategy">
		<beans:constructor-arg name="sessionRegistry"
			ref="sessionRegistry" />
	</beans:bean>
	<beans:bean id="concurrencyFilter"
		class="org.springframework.security.web.session.ConcurrentSessionFilter">
		<beans:property name="sessionRegistry" ref="sessionRegistry" />
		<beans:property name="expiredUrl" value="/" />
	</beans:bean>
</beans:beans>