#outer-framework {
	margin-bottom: 10px;
	border: 5px solid #f29149;
}

#avatar {
	border-bottom: 4px solid #F29149;
	border-right: 4px solid #F29149;
	width: 171px;
	height: 260px;
}

#avatar-name {
	height: 60px;
	line-height: 60px;
	padding-left: 5px;
	color: #fff;
}

#user-nav {
	margin-bottom: 40px;
}

#user-nav div {
	margin-left: 5px;
	padding: 15px 0;
}

#user-nav dt {
	padding: 15px 0 15px 20px;
	margin-left: 15px;
}

#user-nav dd {
	padding: 6px 0 6px 20px;
	margin-left: 15px;
}

#user-nav a {
	color: #f29149;
}

#user-nav .active {
	background: url(../../img/li.gif) no-repeat scroll 0 50%;
}

#u-content-wrapper {
	padding: 20px 16px 0 0;
}

.u-title {
	border-bottom: 2px solid #FBC79F;
	padding-bottom: 5px;
}

.u-title h6 {
	border-bottom: 2px solid #F39146;
	margin-bottom: -7px;
	padding-bottom: 6px;
	width: 170px;
}

.u-desc {
	padding: 10px 0 20px 40px;
}

.page-navi-l-section {
	padding-bottom: 18px;
}

.hint-info-block {
	background-color: #FFEAD9;
	border: 1px solid #F29149;
	margin-left: 40px;
	padding: 10px 0 10px 30px;
}

#success-callback {
	min-width: 300px;
	min-height: 100px;
